<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>457695115656-c6q6r9pul4fojagnb68ob6fso5iq542u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457695115656-c6q6r9pul4fojagnb68ob6fso5iq542u</string>
	<key>API_KEY</key>
	<string>AIzaSyAgcOfi0AfzWr6TRkg7pw2p-v8bUIsFGvo</string>
	<key>GCM_SENDER_ID</key>
	<string>457695115656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HIEntertainment.ColorMix</string>
	<key>PROJECT_ID</key>
	<string>admob-d2650</string>
	<key>STORAGE_BUCKET</key>
	<string>admob-d2650.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:457695115656:ios:146f51aec8fbedb4</string>
	<key>DATABASE_URL</key>
	<string>https://admob-d2650.firebaseio.com</string>
</dict>
</plist>